<h1>Hello to the pressure transducer management system</h1>
<p>Последние добавленные серийные номера</p>
<div *ngIf="isSerialNumbersLoaded"></div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Серийный номер</th>
    <td mat-cell *matCellDef="let serial"> {{serial.number}} </td>
  </ng-container>

  <ng-container matColumnDef="ptArt">
    <th mat-header-cell *matHeaderCellDef> Артикул датчика</th>
    <td mat-cell *matCellDef="let serial"> {{serial.ptArt}} </td>
  </ng-container>

  <ng-container matColumnDef="savedAt">
    <th mat-header-cell *matHeaderCellDef> Добавлен</th>
    <td mat-cell *matCellDef="let serial"> {{serial.savedAt}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h1>Проверка серийного номера </h1>
<form [formGroup]="checkSerialForm" (ngSubmit)="submit()">
  <mat-form-field class="input-serial-form-field">
    <mat-label>Введите серийный номер</mat-label>
    <input matInput type="text" formControlName="findSerial">
  </mat-form-field>
  <button mat-raised-button color="primary">Найти</button>
</form>
